:root {
    --navbar-height: 120px;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--uw-body-bg);
    -webkit-box-shadow: 0px 8px 16px 6px rgba(18, 25, 38, 0.1);
    box-shadow: 0px 8px 16px 6px rgba(18, 25, 38, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    position: relative;
    transition: all 0.25s ease-in-out;
}

.navbar.scrolled {
    --navbar-height: 110px;
    background-color: #fcfafa;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    max-width: 85%;
}

.navbar__logo {
    width: var(--navbar-height);
    height: var(--navbar-height);
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 100;

    opacity: 0;
    animation-name: zoomUp;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;

    transition: box-shadow 0.25s ease, padding 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.navbar__logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.navbar__logo:hover {
    padding: 10px;
}

.navbar.scrolled .navbar__logo {
    padding: 10px;
    background-color: #fcfafa;
}

.nav__collapse {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.nav-overlay.active {
    opacity: 0.5;
    visibility: visible;
}

.nav-links {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

.nav-item {
    position: relative;
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--uw-body-color);
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease, opacity 0.3s ease;
    padding: 0 10px;
    opacity: 0.7;
    position: relative;
    height: 100%;
}

.nav-link.active {
    color: #000;
    font-weight: 600;
}

.nav-link:hover {
    color: #000;
    opacity: 1;
}


.nav-line {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #000;
    transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    left: 0;
    width: 0;
    pointer-events: none;
}


button.nav-link {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    background-color: var(--uw-body-bg);
    border: 1px solid var(--uw-border-color);
    padding: 0;
    list-style: none;
    visibility: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.dropdown-menu__wrapper {
    overflow: hidden;
    min-height: 0;
    padding: 0.5rem 0;
}

@media (min-width: 992px) {

    .dropdown:hover .dropdown-menu,
    .dropdown:focus-within .dropdown-menu,
    .dropdown.open .dropdown-menu {
        visibility: visible;
        grid-template-rows: 1fr;
        opacity: 1;
    }

    .dropdown:hover .dropdown-icon,
    .dropdown:focus-within .dropdown-icon,
    .dropdown.open .dropdown-icon {
        transform: rotate(180deg);
    }
}

.dropdown-item {
    display: block;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    color: var(--uw-body-color);
    transition: background 0.2s ease;
}

.dropdown-item:hover {
    background-color: rgba(var(--uw-link-color-rgb), 0.1);
    color: var(--uw-primary);
}

.dropdown-icon {
    transition: transform 0.3s ease;
}

.menu-toggle {
    display: none;
    padding: 0.5rem;
    background: transparent;
    border: none;
}

.menu-toggle svg {
    width: 30px;
    height: 30px;
}

.nav__actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 3rem;
    height: 100%;
}

.nav__collapse,
.nav__actions {
    opacity: 0;
    animation-name: fadeDown;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
}


.nav__actions-social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.nav__actions-social-media a {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #790000;
    background-color: #FFFAFA;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.nav__actions-social-media svg {
    width: 35px;
    height: 35px;
}

.nav__actions-social-media a:hover {
    background-color: #f9f9f9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.nav__actions-call {
    display: flex;
    align-items: center;
}

.nav__actions-call a {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(121, 0, 0);
    font-size: 1.2rem;
    font-weight: 600;
    transition: box-shadow 0.25s ease, padding 0.25s ease, transform 0.5s ease;

    animation-name: play;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.nav__actions-call svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    animation-name: swing;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform: rotateZ(0deg);
}



.top-changelang {
    position: relative;
    display: flex;
    align-items: center;
}

.lang-menu {
    right: 0;
    left: auto;
    min-width: 100px;
    text-align: center;
}

.lang-menu .dropdown-item {
    padding: 0.5rem 1rem;
}

.lang-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 100%;
}

.lang-flag {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.lang-menu .dropdown-item .lang-flag {
    margin-right: 0.5rem;
}



@media (max-width: 991.98px) {
    .menu-toggle {
        display: block;
        background: #fff;
        z-index: 1000;
    }

    .menu-toggle[aria-expanded="true"] .icon-open {
        display: none;
    }

    .menu-toggle[aria-expanded="false"] .icon-close {
        display: none;
    }

    .nav__collapse {
        position: fixed;
        top: 0;
        right: 0;
        width: 77%;
        height: 100dvh;
        height: 100vh;
        background-color: #0078c2;
        display: block;
        padding: 2rem 0;
        opacity: 0;
        visibility: hidden;
        animation: none;
        transform: translateX(100%);
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        overflow-y: auto;
        z-index: 1000;
    }

    .nav__collapse.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-links {
        height: auto;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        opacity: 1;
        background-color: #9cd9ff;
    }

    .dropdown-menu__wrapper {
        padding: 0;
        transition: all 400ms ease;
    }

    .dropdown.open .dropdown-menu {
        visibility: visible;
        grid-template-rows: 1fr;
    }

    .dropdown.open .dropdown-icon {
        transform: rotate(180deg);
    }

    .dropdown.open .dropdown-menu__wrapper {
        padding: 1rem 0;
    }

    .nav-link {
        font-size: 1.2rem;
        justify-content: space-between;
        width: 100%;
        color: #fff;
        padding: 0.7rem 1.2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    }

    .nav-link.active {
        color: #fff;
        opacity: 1;
        font-weight: 700;
    }

    .nav-link:hover {
        color: #fff;
        opacity: 0.7;
    }

    .nav-line {
        display: none;
    }

    .nav__actions {
        height: auto;
        flex-direction: column;
        margin-top: 50px;
        padding: 20px;
    }

    .nav__actions-social-media {
        justify-content: flex-start;
    }

    .nav__actions-call a {
        animation: none;
    }

    .lang-toggle {
        color: #fff;
    }
}

@media (max-width: 1580px) {
    .navbar .container {
        max-width: 95%;
    }

    .nav-link {
        font-size: 1rem;
    }

    .navbar__logo {
        width: var(--navbar-height);
        height: var(--navbar-height);
    }

    .nav__actions {
        gap: 1rem;
    }

}





.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 8px 16px 6px rgba(18, 25, 38, 0.1);
    box-shadow: 0px 8px 16px 6px rgba(18, 25, 38, 0.1);
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
    overflow: hidden;
    /* padding: 2rem; */
    margin: auto;
    width: 100%;
    /* max-width: 95%; */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero__bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(19, 20, 24, 0.85) 35%, rgba(19, 20, 24, 0.75) 40%, rgba(0, 0, 0, 0.5) 100%);
}

.hero__bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video-wrapper {
    position: relative;
    z-index: 1;
    width: 50%;
    /* min-width: 550px; */
    height: calc(100vh - var(--navbar-height));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
    overflow: hidden;

    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;

}

.hero__video-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: linear-gradient(top, rgba(0, 0, 0, 0.2) 30%, rgba(192, 24, 49, 0.6));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 30%, rgba(192, 24, 49, 0.6));
}

.hero__video {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 70%;
    object-fit: cover;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.video-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px) brightness(0.6);
    transform: scale(1.2);
    z-index: 1;
}

.video-expand-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
    z-index: 5;
}

.video-expand-btn svg {
    width: 24px;
    height: 24px;
}

.video-expand-btn:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

.hero__video-wrapper:hover .video-expand-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0s;
    transition-delay: 0s;
}

.hero__content {
    position: relative;
    z-index: 3;
    color: #fff;
    width: 50%;

    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 1.4s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.hero__title {
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 800;
}

.hero__text {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 2rem;
    opacity: 0.8;
    max-width: 90%;
}

.hero__details-button {
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    overflow: hidden;
}

.hero__details-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 0;
    opacity: 0;
    overflow: hidden;

    transition: max-width 0.4s ease, opacity 0.3s ease, margin-right 0.3s ease;
}

.hero__details-button-icon svg {
    width: 35px;
    height: 35px;
}

.hero__details-button:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding-left: 20px;
}

.hero__details-button:hover .hero__details-button-icon {
    max-width: 40px;
    opacity: 1;
    margin-right: 10px;
}






.about-main {
    padding: 100px 0;
    position: relative;
    display: flex;
    align-items: center;
}

.about-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/about_bg.png);
    background-repeat: repeat-x;
    opacity: 0.05;
    z-index: -1;
}

.about-main__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-main__text {
    margin-right: -40px;
    flex: 0 0 60%;
}

.about-main__text p {
    position: relative;
    text-align: justify;
    background-color: #8c7878;
    color: #fff;
    border: 4px solid #fff;
    z-index: 1;
    padding: 40px;
}

.about-main__sub-title {
    background-color: #0078c2;
    color: #fff;
    padding: 6px 14px;
    font-size: 1.4rem;
}

.about-main__title {
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.about-main__image {
    flex: 0 0 40%;
    transform: rotate(2deg);
}

.about-main__image img {
    object-fit: cover;
}

.about-main__advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 80px;
}






.products-main {
    padding: 3rem 0;
}

.products-main .container {
    max-width: 80%;
}

.products-main__heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.products-main__span {
    background-color: #790000;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
}

.products-main__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6rem;
    position: relative;
}

.products-main__title::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 100px;
    height: 5px;
    transform: translate(-50%, 0);
    background-color: #790000;
    border-radius: 5px;
    transition: width 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.products-main__title:hover::after {
    width: 110%;
}

.products-main__desc {
    font-weight: 400;
    font-size: 1rem;
    position: relative;
}

.products-main__desc svg {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 1px;
}


.products-main__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
}

.products-main__item {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 360px;
}

.products-main__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.products-main__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    overflow: hidden;
    z-index: 1;
}

.products-main__image-wrapper::after,
.products-main__image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    z-index: 1;
}

.products-main__image-wrapper::after {
    background: linear-gradient(to top, rgb(0 0 0 / 85%) 0%, rgba(249, 249, 249, 0) 100%);
}

.products-main__image-wrapper::before {
    background: linear-gradient(90deg, rgb(0 0 0 / 85%) 0%, rgba(249, 249, 249, 0) 100%);
    transform: translateX(-100%);
}

.products-main__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.products-main__item:hover .products-main__img {
    transform: scale(1.1);
}

.products-main__item:hover .products-main__image-wrapper::after {
    transform: translateY(50%);
}

.products-main__item:hover .products-main__image-wrapper::before {
    transform: translateX(0);
}

.products-main__info {
    padding: 20px;
    z-index: 2;
    color: #fff;
    position: absolute;
    bottom: -80px;
    left: 10px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.products-main__item:hover .products-main__info {
    transform: translateY(-90px);
}

.products-main__item-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.products-main__item-text {
    font-size: 1rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.products-main__item-link {
    display: inline-block;
    margin-top: 30px;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.25s ease;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}


.products-main__item-link:hover {
    color: #a7c400;
    border-color: #a7c400;
    padding: 10px 35px;
}



@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomUp {
    from {
        opacity: 0;
        transform: translate(-50%, 0) scale(0);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);
    }
}

@keyframes play {
    5% {
        transform: scale(1.05);
    }

    15% {
        -webkit-box-shadow: 0 0 0 3px rgba(121, 0, 0, 0.6);
        -moz-box-shadow: 0 0 0 3px rgba(121, 0, 0, 0.6);
        box-shadow: 0 0 0 3px rgba(121, 0, 0, 0.6);
    }

    25% {
        -webkit-box-shadow: 0 0 0 6px rgba(255, 7, 64, 0.6), 0 0 0 10px rgba(121, 0, 0, 0.3);
        -moz-box-shadow: 0 0 0 6px rgba(255, 7, 64, 0.6), 0 0 0 10px rgba(121, 0, 0, 0.3);
        box-shadow: 0 0 0 6px rgba(255, 7, 64, 0.6), 0 0 0 10px rgba(121, 0, 0, 0.3);
    }

    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(121, 0, 0, 0.6), 0 0 0 20px rgba(121, 0, 0, 0.3);
        -moz-box-shadow: 0 0 0 10px rgba(121, 0, 0, 0.6), 0 0 0 20px rgba(121, 0, 0, 0.3);
        box-shadow: 0 0 0 10px rgba(121, 0, 0, 0.6), 0 0 0 20px rgba(121, 0, 0, 0.3);
    }
}

@keyframes swing {
    0% {
        transform: rotateZ(0deg);
    }

    5% {
        transform: rotateZ(20deg) scale(1.1);
    }

    10% {
        transform: rotateZ(-20deg);
    }

    15% {
        transform: rotateZ(20deg);
    }

    20% {
        transform: rotateZ(-20deg);
    }

    25%,
    60% {
        transform: rotateZ(0deg);
    }
}